body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  position: relative;
  text-align: center;
}

hr{
  border: dotted #EAF6F6 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

.pro{
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 110px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.top-cloud {
  position: absolute;
  right: 220px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.computer-img{
  width:25%;
  float: left;
  margin-right: 30px;
}

.pingpong-img{
  width:25%;
  float: right;
  margin-left: 30px;
}

.footer-link{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  text-decoration: none;
  margin:10px 20px;
}

.footer-link:hover{
  color: #EAF6F6;

}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 15px;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #45e6de 5%, #11999E 100%);
	background-color:#45e6de;
	border-radius:6px;
	border:1px solid #11999E;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #11999E 5%, #45e6de 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
